@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css") layer(framework);

.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.pizzaMenu{
    flex-direction: row;
}

img.pizzaLogo{
    max-width: 70px;
    aspect-ratio: 1/1;
}

.hero-image{
    width: 800px;
    aspect-ratio: 1/2;

}

.hero.container-fluid{
    background-color: #343a82;
    color: white;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 30px;
}

.hero .row{
    align-items: center;
}


.cheese-selector{
    padding: 5px;
    justify-content: stretch;


}

.accordion-body{
    display: flex;
    flex-direction: column;
}

.btn-outline-secondary{
    background-color: #ffff00;
}

.btn-warning{
    background-color: #3855BD;
    color: #ffffff;
}

.pizzaLinks{
    gap: 10px;
}

.pizzaLinks a{
    color: #ffffff;
}

.meatsandveg{
    display: flex;
    flex-direction: column;
}



